@media only screen and (min-width: 375px) 
and (max-width: 812px){ 
      img {
  margin-top: 30px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1em;
}
}

@media only screen and (min-width: 375px) 
and (max-width: 812px) and (orientation: portrait) { 
  img {
    margin-top: 30px;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 375px) 
and (max-width: 812px) and (orientation: landscape) { 
  img {
    margin-top: 30px;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 1em;
  }
}
